*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'arial', sans-serif;
    background-color: whitesmoke;
    color: rgb(73, 66, 66);
}
header{
    width: screen;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    border-bottom: 1px solid rgb(196, 224, 235);
}

.logodiv{
    /* border: 1 px solid green; */
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    size-adjust: 10px;
    padding-right: 8%;
}
.icon-div{
    width: 20vw;
    display: flex;
    justify-content: space-between;
}
.icon-div1{
    /* border: 1px solid blue; */
    padding: 6px 18px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    transition: all 0.5s ease;
    background-color: whitesmoke;
    border: 1px solid rgb(70, 6, 131);
}
.icon-div2{
    padding: 6px 18px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    transition: all 0.5s ease;
    background-color: rgb(70, 6, 131);
    color: white;
    opacity: 1;
}
.hero{
    width: screen;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hero-left-div{
    /* border: 1px solid blue; */
    width: 50vw;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 3%;
    padding-top: 5%;
}
.button-div1{
    /* border: 1px solid blue; */
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    transition: all 0.5s ease;
    background-color: rgb(70, 6, 131);
    color: white;
    opacity: 1;
}
.button-div2{
    /* border: 1px solid blue; */
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    transition: all 0.5s ease;
    background-color: white;
}
h1{
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2; 
    align-items: last baseline;
    display: flex;
    font-size: xx-large;
    font-weight: bolder;
    color: black;
}
.textdiv{
    margin: 20px 0;
    font-size: 25px;
    color: black;
    line-height: 1;

}
.button-div{
    display: flex;
    gap: 45px;
    margin-top: 15px;
}